<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>微信MarkDown编辑器</title>
  <meta name='keywords' content='微信编辑器,极简微信编辑器,MarkDown编辑器,微信公众号编辑器,自媒体文章编辑器,文章编辑器,在线公众号编辑器,在线自媒体编辑器,文章编辑器,MarkDown语法'/> 
  <meta name='description' content='一个极简的微信公众号自媒体编辑器，使用MarkDown语法在线编辑，使用此编辑器你只需专注内容无需把过多经历放在排版上。'/> 
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%220.9em%22  font-size=%2290%22>🖥️</text></svg>">
  <link rel="stylesheet" href="assets/css/vue-eleui.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="codemirror/codemirror.css">
  <link rel="stylesheet" href="codemirror/theme/base16-light.css">
  <link rel="stylesheet" href="codemirror/theme/duotone-light.css">
  <link rel="stylesheet" href="codemirror/theme/monokai.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
  <div id="app" class="container">
    <el-container>
      <el-header class="top">
        <el-form size="mini" class="ctrl" :inline=true>
          <el-form-item label="编辑器主题">
            <el-select v-model="currentEditorTheme" size="mini" placeholder="选择字体" @change="editorThemeChanged">
              <el-option v-for="editorTheme in editorThemes" :key="editorTheme.value" :label="editorTheme.label"
                :value="editorTheme.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="字体衬线">
            <el-select v-model="currentFont" size="mini" placeholder="选择字体" @change="fontChanged">
              <el-option v-for="font in builtinFonts"  :style="{fontFamily: font.value}"
                :key="font.value"
                :label="font.label"
                :value="font.value">
                <span style="float: left">{{ font.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px" >Abc</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="字体大小">
            <el-select v-model="currentSize" size="mini" placeholder="选择段落字体大小" @change="sizeChanged">
              <el-option v-for="size in sizeOption"
                :key="size.value"
                :label="size.label"
                :value="size.value">
                <span style="float: left">{{ size.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px" >{{ size.desc }}</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="样式">
            <el-select v-model="currentTheme" size="mini" placeholder="选择主题样式" @change="themeChanged">
              <el-option v-for="theme in themeOption" :key="theme.value" :label="theme.label" :value="theme.value">
                <span style="float: left">{{ theme.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ theme.author }}</span>
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <el-button class="about" @click="copy">复制</el-button>
        <el-button class="about" @click="aboutDialogVisible = true">关于</el-button>
      </el-header>
      <el-main class="main-body">
        <el-row :gutter="10" class="main-section">
          <el-col :span="12">
            <textarea
              id="editor"
              type="textarea"
              placeholder="Your markdown here."
              v-model="source">
            </textarea>
          </el-col>
          <el-col :span="12" class="preview-wrapper">
            <section>
              <div class="preview" contenteditable="true">
                <div id="output" v-html="output">
                </div>
              </div>
            </section>
          </el-col>
        </el-row>
      </el-main>
    </el-container>

    <el-dialog title="关于" :visible.sync="aboutDialogVisible" width="30%" center>
      <div>
        <h3>WeChat Format 有什么用？</h3>
        <p>能较好地排版；</p>
        <p>能解决 <code>ul</code> 和 <code>ol</code> 渲染时样式被微信编辑器重置的问题；</p>
        <p>能把外部链接自动转为参考文献索引，并且附在文章末尾</p>
        <p>&nbsp;</p>
        <h3>关于我</h3>
        <p>我是 Lyric。如果你喜欢我的工具，可以：</p>
        <p>关注我的公众号 "<code>iamlyricw</code>"，<a href='https://lyric.im' target='_blank' class='url'>博客</a> 或 <a href='https://github.com/lyricat/wechat-format' target='_blank' class='url'>Github</a></p>
        <p>
          微信打赏我：
          <img src="./assets/images/wechat_qrcode.jpg" style="width: 60%; display: block; margin: 0 auto;"/>
        </p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="aboutDialogVisible = false">打赏了！</el-button>
      </span>
    </el-dialog>
  </div>
  <script src="assets/scripts/axios.min.js"></script>
  <script src="assets/scripts/marked.min.js"></script>
  <script src="assets/scripts/vue.js"></script>
  <script src="assets/scripts/vue-eleui.js"></script>
  <script src="assets/scripts/FuriganaMD.js"></script>
  <script src="codemirror/codemirror.js"></script>
  <script src="codemirror/mode/markdown/markdown.js"></script>
  <script src="assets/scripts/themes/default.js"></script>
  <script src="assets/scripts/themes/lupeng.js"></script>
  <script src="assets/scripts/renderers/wx-renderer.js"></script>
  <script src="assets/scripts/editor.js"></script>
  
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4178606-10"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-4178606-10');
  </script> -->
</body>
</html>
